.user-account {
  background: #f4f4f4;
  color: #333;
  border-radius: 3px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
}
.title {
  padding: 1rem 0;
  font-size: 1.2rem;
}
.bg-standard {
  background: rgb(209, 202, 121);
  color: #333;
}
.bg-business {
  background: rgb(56, 66, 80);
  color: #fff;
}
.deposit {
  font-size: 1.1rem;
}
.transactions-history img {
  width: 40px;
}
.transactions-history a {
  text-decoration: none;
  color: inherit;
}
