* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --red: rgb(245, 84, 84);
}
html,
body,
#root {
  min-height: 100vh;
}
body {
  background-color: #f4f4f4;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-3.png");
}
p,
div,
strong {
  font-size: 1rem;
}
.mb-6 {
  margin-bottom: 2rem;
}
.modal {
  background: #f4f4f4;
  border-radius: 5px;
  color: #333;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  padding: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#modal {
  background: #333;
}

.form-button {
  background: transparent;
  color: #333;
  padding: 0.5rem;
  font-size: 1.1rem;
  border: 1px solid var(--red);
  border-radius: 5px;
  transition: 0.5s;
}

.form-button:hover {
  background: var(--red);
  color: #f4f4f4;
}
.container {
  padding: 0 !important ;
}
@media screen and (max-width: 600px) {
  * {
    font-size: 0.8em;
  }
}
