.small-container {
  max-width: 700px;
  background-color: #f4f4f4;
  color: #333;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.1), -5px 0px 10px rgba(0, 0, 0, 0.1);
}
.transaction-type {
  text-transform: uppercase;
}
.transaction-type-created {
  background: #adffad;
}
.transaction-type-deposit {
  background: #0d6efd;
  color: #f4f4f4;
}
.transaction-type-withdraw {
  background: #ffc107;
}
.transaction-type-transfer {
  background: #f1f1f1;
}
.transaction-body .time-stamp {
  color: #555;
  font-size: 1rem;
}
.download-pdf {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.download-pdf img {
  width: 70px;
}
.download-pdf a {
  font-size: 1.1rem;
  cursor: pointer;
}
.download-pdf a:hover {
  text-decoration: underline !important;
  color: #0d6efd !important;
}
