.user-info {
  text-align: left;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(3, 1fr);
  background: #f4f4f4;
}
.user-info .btn {
  border-radius: 0;
}
.user-image {
  grid-row-end: span 3;
  align-self: flex-start;
}
.user-image > img {
  object-fit: cover;
  object-position: top;
  max-height: 200px;
  border: 5px solid #333;
}
.upload-image {
  background: #333;
  cursor: pointer;
}

.user-info .group-input {
  display: flex;
}
.user-info input {
  margin: 0 1rem;
}
.user-info p {
  margin: 0 !important;
}
